@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #acb4e9;
    box-shadow: rgba(202, 162, 162, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    
    background-color: #dcdbe1;
    border: solid rgb(24, 23, 23) 0.5px;
   color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color: #e512bf;
}

input[type=button] {
    
    background-color: #2f2c31;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #eba5a5;
    -webkit-box-shadow: inset 0px 0px 5px #8c3a3a;
    -moz-box-shadow: inset 0px 0px 5px #8c3a3a;
    box-shadow: inset 0px 0px 5px #8c3a3a;
}
